Package: pw.ssnull.homedockx
Name: HomeDockX
Depends: firmware (>= 11.0), mobilesubstrate, preferenceloader, applist
Version: 1.2.2
Architecture: iphoneos-arm
Description: iPhone X gesture with perfectly compatible iPad floating dock
Maintainer: Brian Choi <brian9206@hotmail.com>
Author: Brian Choi <brian9206@hotmail.com>
Section: Tweaks
