Package: pw.ssnull.homedockx
Name: HomeDockX
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: iPhone X gesture + iPad floating dock with perfectly compatible gesture
Maintainer: Brian Choi
Author: Brian Choi
Section: Tweaks
